BasedOnStyle: Google
IndentWidth: 4
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 120
BinPackArguments: true
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: true
  AfterFor: true
